.about {
    padding-top: var(--main-padding);
}

.about .container p {
    color: var(--secondary-color);
    font-size: 32px;
    line-height: 1.6;
    text-align: justify;
    margin: 64px 0 0;
}

@media (max-width: 992px) {
    .about .container p {
        font-size: 24px;
        margin: 48px 0 0;
    }
}

@media (max-width: 767px) {
    .about .container p {
        font-size: 20px;
        margin: 40px 0 0;
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    .about .container p {
        font-size: 18px;
        line-height: 1.5;
        margin: 32px 0 0;
    }
}