@import url('./assets/normalize.css');
@import url('./assets/all.min.css');


@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Cairo:wght@200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --main-color: #0E304C;
  --secondary-color: #517491;
  --third-color: #FFFFFF;
  --fourth-color: #C5C8CB;
  --main-transition: 0.3s;
  --main-padding: 100px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'cairo', sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  max-width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 128px;
  width: 100%;
  max-width: 100%;
}


@media (min-width : 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width : 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width :992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width :1200px) {
  .container {
    max-width: 1090px;
  }
}


.main-heading {
  text-align: center;
}

.main-heading .address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.main-heading img {
  max-width: 100%;
  width: 50px;
}

.main-heading h2 {
  font-size: 36px;
  color: var(--main-color);
  font-weight: normal;
  margin-bottom: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .main-heading h2 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .main-heading h2 {
    font-size: 24px;
  }
}

.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 100px;
  height: 2px;
  border-radius: 50px;
  background-color: var(--main-color);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50px;
  bottom: -27px;
  background-color: var(--third-color);
  border: 2px solid var(--main-color);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}