.our-values {
    padding-top: var(--main-padding);
}

.our-values .container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.our-values .box {
    margin: 30px 0;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.our-values .box:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    transform: translateY(10px) scale(0.97);

}

.our-values .box:first-child::before,
.our-values .box:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    background-color: var(--main-color);

}

@media (max-width: 767px) {

    .our-values .box:first-child::before,
    .our-values .box:last-child::before {
        content: "";
        top: auto;
        bottom: 0;
    }
}

.our-values .box:nth-child(2)::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: var(--main-color);

}

.our-values .box img {
    width: 70px;
    height: 70px;
    padding: 5px;
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.our-values .box:first-child img,
.our-values .box:last-child img {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@media (max-width: 767px) {

    .our-values .box:first-child img,
    .our-values .box:last-child img {
        top: -35px;
    }
}

.our-values .box:nth-child(2) img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.our-values .box h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.our-values .box p {
    text-align: center;
    margin-bottom: 50px;
}